* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
  position: relative;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 20px 0;
}

.createUser button {
  background-color: #000;
  color: #fff;
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
}

#startQuiz {
  height: 585px;
  width: 100%;
  background-color: skyblue;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#red {
  color: red;
}

.image {
  height: 300px;
  width: 300px;
  border: 2px solid red;

}

.image img {
  height: 100%;
  width: 100%;
}

.heading h1 {
  font-size: 55px;
}

.left {
  width: 600px;
}

.createUser1 {
  margin-top: 20px;
}

.createUser1 button {
  background-color: #000;
  color: #fff;
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
}


#popupbox1 {
  background-color: #fff;
  width: 300px;
  height: 130px;
  position: absolute;
  top: 106px;
  left: 598px;
  z-index: 99;
  padding: 10px;
  display: none;
}

#form {
  height: 60px;
}


#btn-btn1 {
  color: #fff;
  background-color: #000;
  padding: 7px;

}

#btn-btn2 {
  color: #fff;
  background-color: red;
  padding: 7px;
  margin-left: 15px;
}

#red p {
  width: 25%;
  display: none;
  color: #fff;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 101px;
  left: 578px;
  text-align: center;
}

#green p {
  width: 25%;
  display: none;
  color: #fff;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 101px;
  left: 578px;
  text-align: center;
}




#header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
}

ul li {
  list-style: none;
  padding: 0 1rem;
}

ul {
  display: flex;
}

ul li a {
  text-decoration: none;
  color: black;
}


#content-starts {
  margin: 0 auto;
  text-align: center;
  width: 100%;

}

#content-starts h1,
h2 {
  margin: 2rem;
}

.topicOne {
  height: 80px;
  width: 50%;
  margin: 0.5rem auto;
  background-color: #000044;
}

.topicOne p {
  color: #fff;
  /* text-align: center; */
  padding-top: 1.5rem;
}

#quiz p {
  /* text-align: center; */
  font-size: 20px;
  color: #000;
  padding: 20px;
  /* padding-top: 1.5rem; */
  /* display: block; */
  cursor: pointer;
}

.topicTwo {
  height: 80px;
  width: 50%;
  margin: 0.5rem auto;
  background-color: darkblue;

}

.topicTwo p {
  color: #fff;
  padding-top: 1.5rem;
}

.topicThree p {
  color: #fff;
  padding-top: 1.5rem;
}

.topicThree {
  height: 80px;
  width: 50%;
  margin: 0.5rem auto;
  background-color: #ffaa00;
}

#sub-start {
  color: white;
  font-size: 18px;
  background-color: #000;
  cursor: pointer;
  width: 250px;
  height: 40px;
  margin-top: 1rem;
}


#center {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.click {
  cursor: pointer;
}

#questionPage {
  height: 200px;
  width: 50%;
  background-color: #000;
}

.gayab {
  display: none;
}

#quiz {
  height: 400px;
  width: 50%;
  background-color: #ffaa00;
  margin: 6.5rem auto;
}

#Next {
  background-color: #000;
  color: #fff;
  padding: 10px 42px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 3.0rem;
}

#Stop {
  background-color: red;
  color: #fff;
  padding: 10px 42px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 3.0rem;
}

#nextquit {
  padding-left: 8.5rem;
}

.timer {
  /* border-radius: 50%; */
  position: absolute;
  top: 68px;
  right: 379px;
}

#welldone {
  height: 250px;
  width: 45%;
  background-color: gold;
  color: #000;
  text-align: center;
  margin: 3.5rem auto;
  padding: 3.0rem;
}

#Result {
  background-color: #000;
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

#Again {
  background-color: blue;
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

#Quit2 {
  background-color: red;
  color: #fff;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}

#resultbuttons {
  margin-top: 2.5rem;
}

#icon {
  position: absolute;
  top: 427px;
  left: 359px;
  display: none;
}

.fa-regular.fa-circle-check {
  font-weight: 900;
  color: green;
  background: #fff;
  border-radius: 50%;
  font-size: 21px;
}
.showresult{
  font-size: 20px;
  color: green;
  padding-top: 10px;
  display: none;
}
/* .pointerevent{
  pointer-events: none;
} */
.exit{
  cursor: pointer;
}